
<div class="container">
<div><div style="float: left;">上海</div><div style="float: right">2015年4月1日发布</div><div style="clear: both;"></div></div>
</div>

<div class="container-fluid">

</div>

<script>
  // To attach Backstrech as the body's background
  $.backstretch("/assets/background.png");
  </script>

